fastapi
uvicorn
firebase_admin
pdfservices-sdk
wget
sumy
orderedset
sentence_transformers
nltk
numpy==1.19.5
gensim
spacy
scipy
torch
utils
sklearn
transformers
regex
zipfile36
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl