-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.7.1+cpu 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cpu
fastapi
uvicorn
gunicorn
firebase_admin
pdfservices-sdk
wget
sumy
orderedset
sentence_transformers
nltk
numpy==1.19.5
gensim
spacy
scipy
utils
sklearn
transformers
regex
zipfile36
onnx==1.8.1
onnxruntime==1.7.0
fastt5==0.0.4
boto3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl